body{
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    box-sizing: border-box;

}
.navbar-collapse{
    justify-content: space-between;
}
header > h1{
    padding: 20px;
}
.col{

}
.row{
    padding: 20px;
    margin: 10px;
}
#btnSearch{
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}
.navbar-expand-lg .navbar-collapse{
    padding: 0 14px;
}
span{
    padding: 1%;
    margin: 0 auto;
    border: 1px solid #BFC8E6;
border-radius: 10px;
}
.card-body {
    text-align: justify;
    padding-left: 5% !important;
    margin: 0 auto;
}
.g-0{
    background: #FBFCFF;
border-radius: 16px;

}
.card{
    background: #FBFCFF;
border: 1px solid #BFC8E6;
box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
border-radius: 16px;
}